<div ng-controller="DetailsController" class="row">
        
    <div class="span12">
        <h2>{{client.FirstName}} {{client.LastName}} </h2>
    </div>
    <div class="span6">
        <hr />
        <div>Zone:<select ng-model="selectedItem" ng-options="item as item.Description for item in zones"></select>
            <pre>{{selectedItem | json}}</pre>
        </div>
        <div>
            Housing Status:<select ng-model="selectedItem" ng-options="item as item.Description for item in housingStatus"></select>
            <pre>{{selectedItem | json}}</pre>
        </div>
        
        <button ng-click="edit()">Edit</button>
    </div>    
    <div class="span6">
        <div>
            <div ng-include="'/Client/views/edit.html'"></div>
        </div>
    </div>
</div>