<div ng-controller="ListController" class="row">
    <div class="span6">       
        <table class="table table-striped">
            <tr ng-repeat="item in clients">
                <td>
                    {{item.FirstName}}
                </td>
                <td>
                    {{item.LastName}}
                </td>
                <td>
                    <button class="btn" ng-click="delete(item)">Delete</button>
                    <a href="#/details/{{item.Id}}" class="btn">Details</a> 
                </td>
            </tr>    
        </table>        
        <button class="btn" ng-click="create()">Create</button>
    </div>
    <div class="span6">
        <div >
            <div ng-include="'/Client/views/edit.html'"></div>
        </div>
    </div>
</div>
